.alternative-button {
  width: auto;
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.alternative-button:hover, .alternative-button:active {
  background-color: #510674;
  border-color: #510674;
}

@media (max-width: 768px) {
  .alternative-button {
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

